.home-main-wrapper {
  background-color: #442220;
  height: 90.4%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
