.main-wrapper-signup {
  height: 100%;
  width: 100%;
  background-image: url("../../images/background-image-login.jpeg");
  position: absolute;
  display: flex;
  align-items: center;
}
.signInContainer {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 500px;
  background-color: rgba($color: #ffffff, $alpha: 0.8);
  align-items: center;
  margin: auto;
  vertical-align: center;
  border-radius: 5px;
  justify-content: center;
}
.textField-signin {
  align-items: center;
  padding: 10px;
}
#buttonSubmit {
  letter-spacing: 0.5pt;
  margin: 20px 0 20px;
  width: 300px;
}
#formOnSubmit {
  text-align: center;
  padding-top: 10px;
}
#alreadySignUp {
  font-family: Roboto;
  font-size: 8pt;
  color: #442220;
}
#jetztanmeldenA {
  color: #442220;
}
